.env
Pihole/
config/data/
config/ddclient/ddclient.conf
heimdall/
nzbget/
nzbhydra2/
ombi/
plex/
radarr/
sonarr/
vpn/
config/traefik/certs/
sabnzbd/
config/traefik/dynamicconf/extradynamicconf.toml
portainer-agent-stack.yml
config/portainer/
